<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="maria.com"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="false"
        android:requiresSmallestWidthDp="600"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.amalulla.conversando.ConversandoActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.amalulla.conversando.SaveDialog"
            android:label="@string/save"
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
        <activity
            android:name="com.amalulla.conversando.DeleteDialog"
            android:label="@string/title_activity_delete_dialog"
            android:screenOrientation="landscape" 
            android:parentActivityName="com.amalulla.conversando.ConversandoActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="maria.com.ConversandoActivity" />
        </activity>
    </application>

</manifest>